<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Todo List</h1>
        </div>
        <div class="card-body">
          <div  class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Add a new todo"
              [formControl]="newTodo"
              (keyup.enter)="addTodo()"
            />
            <button
              class="btn btn-primary"
              type="submit"
              (click)="addTodo()"
              [disabled]="newTodo.invalid"
            >
              Add
            </button>
          </div>
          @if (newTodo.invalid && newTodo.touched) {
            <div class="alert alert-danger">You must enter a title with at least 3 characters</div>
          }

          @for (todo of allTodos(); track todo.id) {
            <app-todo-item [todo]="todo" (toggle)="toggleTodo($event)" (remove)="removeTodo($event)" />
          } @empty {
            <p class="text-center">No todos yet. Add one above!</p>
          }
        </div>
      </div>
    </div>
  </div>
</div>
